{% extends 'base.html' %} {% block content %}
<div class="container full-vh">
    <div class="row text-center mt-4">
        <div class="col">
            <h3>Auction</h3>
            <hr>
        </div>
    </div>
    <div class="row row-flex">
        {% for auction in object_list %}
        <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-default">
            <div class="panel-body">
                <div class="product-auction" style="background-image: url('{{ MEDIA_URL }}{{ auction.image }}')"></div>
                <h5 class="ml-3 mt-2">{{ auction.name }}</h5>
                <p class="product-description pl-3">{{ auction.description }}</p>
                <hr>
                <p class="pl-3"> Starting bid:&nbsp;€{{ auction.price }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}