{% extends 'base.html' %} {% block page_title %}Web Shop{% endblock %} {% block content %}
<div class="container full-vh">
    <hr> {% include 'components/searchbar.html' %}

    <!----Pagination---->

    <div class="row-flex">
        {% if products.paginator.num_pages > 1 %} {% include 'pagination.html' with products=products %} {% endif %}
    </div>

    <!----/Pagination---->
    <div class="row row-flex">
        {% for product in products %}
        <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-default">
            <div class="panel-body">
                <div class="product-auction mb-1">
                    <img src="{{ MEDIA_URL }}{{ product.image }}" style="height: 100%; width: 100%; object-fit: contain" alt="{{ product.name }}">
                </div>
                <h6 class="category-product mt-2 text-center">{{ product.get_category_display }}</h6>
                <h5 class="pl-3">{{ product.name }}</h5>
                <p class="product-description pl-3">{{ product.description }}</p>
                <p class="pl-3">€{{ product.price }}</p>
                <form method="post" action="{% url 'add_to_cart' product.id %}">
                    {% csrf_token %}
                    <div class="input-group">
                        <input name="quantity" type="number" min="1" max="999" class="form-control" placeholder="Quantity" required>
                        <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit">Add</button>
                    </span>
                    </div>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}