{% extends 'base.html' %} {% block content %} {% include 'components/searchbar.html' %}

<div class="container">
    <div class="row">
        <div class="col-md6 mb-4">
            <div class="mb-3">
                <h5>
                    {{ object.get_category_display }}
                </h5>
                <p class="lead">
                    <span>{{ object.price }}</span>
                </p>
                <p class="">Description</p>

                <p>{{ object.description }}</p>



            </div>
        </div>
    </div>
</div>

{% endblock %}