body {
    background-image: url('../background/3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

.body {
    min-height: 100vh;
}

.home-container {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}


/*----Fonts----*/

h1 {
    font-family: 'Trade Winds', sans-serif;
}

h2,
h3,
h4,
h5,
p {
    font-family: 'Roboto', sans-serif;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}

.product {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

caption p {
    word-wrap: break-word;
}

.row.row-flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.panel-default {
    border-color: transparent;
    padding: 10px;
}

.panel-body {
    height: 100%;
    border: 1px solid rgb(179, 188, 196);
    border-radius: 10px;
    overflow: hidden;
}

.product-description {
    min-height: 40px;
}


/*----Index logo----*/

.index-logo {
    width: 100vw;
}

.category-product {
    color: rgb(94, 94, 94);
}

.btn-success {
    background-color: #94b659;
    border: 1px solid #94b659;
}


/* -- Footer -- */

.footer-row {
    border-top: 1px aliceblue solid;
    margin-top: 20px;
}

.footer-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin-top: 13px;
    color: rgb(90, 90, 95);
}


/* Social icons */

.social-icon {
    margin: 0;
    height: 30px;
    padding-top: 15px;
    color: rgb(90, 90, 95);
    -webkit-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out;
}

.social-icon:hover {
    color: orangered;
    -webkit-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    transition: all .5s ease-in;
}

.social-icons-footer {
    text-align: center;
}

.icon-bigscreen-alignment {
    text-align: center;
}

.profile-page {
    border: 2px rgb(155, 154, 154);
    border-style: solid;
    border-radius: 5px;
}