{% extends 'base.html' %} {% block page_title %}{{ user }}'s Profile{% endblock %} {% block content %}

<div class="container full-vh">
    <div class="row pt-4">
        <div class="col col-md-6 profile-page">
            <div class="col-12 pt-3">
                <p>First Name: {{ profile.first_name }}</p>
            </div>
            <div class="col-12">
                <p>Last Name: {{ profile.last_name }}</p>
            </div>
            <div class="col-12">
                <p>Email: {{ profile.email }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}