{% extends 'base.html' %} {% load static %} {% load bootstrap_tags %} {% block page_title %}{{user}}'s cart{% endblock %}{% block content %}
<div class="container full-vh">
    <div class="row row-flex">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Name</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                </tr>
            </thead>
            <tbody>
                {% for item in cart_items %}
                <tr>
                    <th scope="row"></th>
                    <td> {{ item.product.name }}</td>
                    <td>
                        <form class="form-inline" method="post" action="{% url 'adjust_cart' item.id %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="exampleInputAmount" class="sr-only">New Qty</label>
                                <div class="input-group">
                                    <input name="quantity" type="number" min="0" max="999" class="form-control" required>
                                    <div class="input-group-addon">&nbsp;&nbsp;{{item.quantity}}&nbsp;&nbsp;</div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Change</button>
                        </form>
                    </td>
                    <td>€{{ item.product.price }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="row">
            <div class="col">
                <p class="ml-3">Total &nbsp; &nbsp; € {{ total }} &nbsp;</p>
                <div class="col">
                    <!-- Checkout button if disabled when cart is empty -->
                    {% if total == 0 %}
                    <a href="{% url 'checkout' %}" class="btn btn-primary checkout-button disabled" role="button">Checkout</a>
                    <a href="{% url 'products' %}" class="btn btn-outline-primary" role="button">Return</a> {% else %}
                    <a href="{% url 'checkout' %}" class="btn btn-primary dm-btn checkout-button" role="button">Checkout</a>
                    <a href="{% url 'products' %}" class="btn btn-outline-primary" role="button">Return</a> {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}