{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container-fluid home-container">
    <div class="row">
        <div class="col home-title text-center">
            <h1 class="pt-1">The Auctioneer</h1>
            <h4><em>Auction and Web Shop</em></h4>
        </div>

    </div>
    <div class="row">
        <div class="col m-0 p-0">
            <img class="index-logo pt-4 d-lg-none" src="{% static 'images/online-auctions2.jpg' %}">
        </div>
    </div>
    <div class="row">
        <div class="col m-0 p-0">
            <img class="index-logo d-none d-lg-block pt-4" src="{% static 'images/online-auctions.png' %}">
        </div>
    </div>
</div>

{% endblock %}