<nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
        {% if user.is_authenticated %}
        <li><a href="{% url 'profile' %}">Profile</a></li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
        <li>
            <a href="{% url 'view_cart' %}">
                <i class="fa fa-shipping-cart"></i>Cart {% if product_count > 0 %}
                <label class="badge badge-warning">{{ product_count }}</label> {% endif %}
            </a>
        </li>
        {% else %}
        <li><a href="{% url 'login' %}">Login</a></li>
        <li><a href="{% url 'registration' %}">Register</a></li>
        {% endif %}
        <li><a href="{% url 'products' %}">Products</a></li>

    </ul>
</nav>